---
import 'github-markdown-css/github-markdown-light.css';

import data from '../content/data';
import { getCollection } from 'astro:content';

import Info from '../components/Info.astro';
import { Content as Summary } from '../content/summary.md';

const projects = (await getCollection('projects'))
  // sort by the file name
  .sort(({ id: a }, { id: b }) => (a < b ? -1 : a > b ? 1 : 0));

const work = (await getCollection('work'))
  // sort the work experiences in reverse chronological order
  .sort((a, b) => b.data.period.end.valueOf() - a.data.period.end.valueOf())
  .map((role, i, arr) => ({
    ...role,
    // render the company h3 heading if it’s the first role or if the role has a different company than the previous one
    displayCompanyHeading: i === 0 || arr[i]?.data.company !== arr[i - 1]?.data.company,
  }));
---

<html lang="en">
  <head>
    <title>{`Resume (${data.summary.name})`}</title>
    <meta name="description" content=`The resume for ${data.summary.name}, a ${data.summary.title}` />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link rel="icon" href="https://fav.farm/📝" />
  </head>
  <main class="markdown-body">
    <header class="resume__header">
      <h1>{data.summary.name}</h1>

      <address>
        <Info href={data.summary.location.href} iconName="location">{data.summary.location.title}</Info>
        <Info href=`tel:${data.summary.phone}` iconName="device-mobile">{data.summary.phone}</Info>
        <Info href=`mailto:${data.summary.email}` iconName="mail">{data.summary.email}</Info>
        <Info href=`https://www.github.com/${data.summary.github}` iconName="mark-github">{data.summary.github}</Info>
        <Info href=`https://www.linkedin.com/in/${data.summary.linkedin}` iconName="linkedin"
          >{data.summary.linkedin}</Info
        >
      </address>
    </header>

    <section>
      <h2>Summary</h2>
      <Summary />
    </section>

    <section class="resume__employment">
      <h2>Experience</h2>
      <dl>
        {
          work.map(job => (
            <div class="employment__role">
              {job.displayCompanyHeading && (
                <h3>
                  <span>{job.data.company}</span>
                </h3>
              )}
              <dt>
                <span>
                  <strong>{job.data.title}</strong>
                </span>

                <span class="resume__period">
                  <time>{job.data.period.raw}</time>
                </span>
              </dt>
              <dd set:html={job.rendered?.html} />
            </div>
          ))
        }
      </dl>
    </section>

    <section class="resume__skills">
      <h2>Skills</h2>
      <p>
        {
          data.skills.map(skill => (
            <span class="skill__name">
              <code>{skill}</code>
            </span>
          ))
        }
      </p>
    </section>

    <section class="resume__projects">
      <h2>Selected Projects</h2>
      <dl>
        {
          projects.map(project => (
            <div>
              <dt>
                <span>
                  <Info href={project.data.link} iconName={project.data.icon}>
                    <strong set:html={project.data.title} />
                  </Info>
                </span>
              </dt>
              <dd>
                <div class="project__description" set:html={project.rendered?.html} />
                {project.data.stack?.length ? (
                  <p>
                    {project.data.stack.map(skill => (
                      <span class="skill__name">
                        <code>{skill}</code>
                      </span>
                    ))}
                  </p>
                ) : null}
              </dd>
            </div>
          ))
        }
      </dl>
    </section>

    <section class="resume__education">
      <h2>Education</h2>
      <ol>
        {
          data.education.map(schooling => (
            <li>
              <span>
                <strong>{schooling.institution}</strong>,{' '}
              </span>
              <span>{schooling.description}</span>
              <span class="resume__period">
                {schooling.period[0]} - {schooling.period[1]}
              </span>
            </li>
          ))
        }
      </ol>
    </section>
  </main>

  <style is:global>
    :root {
      --light-grey: #ccc;
      --medium-grey: #777;
      --dark-grey: #555;
      --darker-grey: #333;
      --left-column: 1in;
      --grid-gap: 1em;
      --page-margin: 0.75in;
      --top-page-margin: 0.5in;
    }

    .markdown-body {
      margin: var(--page-margin) auto var(--page-margin);
      max-width: calc(8.5in - var(--page-margin) * 2);
      font-size: 12px;

      b,
      strong {
        /* overrides gfm to make <b> and <strong> text slightly heavier */
        --base-text-weight-semibold: 700;
      }
    }

    @media print {
      @page {
        margin: 0.5in;
        size: 8.5in 11in;
      }

      .markdown-body {
        margin: 0;
        max-width: 100%;
      }
    }

    @media screen and (width < 8.5in) {
      .markdown-body {
        margin: 10vw 20px;
      }

      .markdown-body .resume__header address {
        align-items: center;
        flex-direction: column;
        gap: 1em;
      }
    }

    .resume__header {
      h1 {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0.25em;
      }

      address {
        display: flex;
        justify-content: center;
        font-style: normal;
        gap: 2em;
      }
    }

    .markdown-body h2 {
      margin-bottom: 0.5rem;
    }

    .markdown-body dl dt {
      margin-top: 0.5rem;
    }

    .resume__skills {
      ul {
        list-style: none;
        padding-inline-start: 0px;
      }
    }

    .skill__name {
      font-size: 0.95em;
      code {
        text-wrap-mode: nowrap;
      }
    }

    .resume__employment {
      dd {
        li {
          position: relative;
          list-style: none;
          margin-top: 0.25em;
        }

        li:before {
          position: absolute;
          color: var(--dark-grey);
          content: '•';
          left: -0.75em;
        }
      }

      dd > ul {
        /* necessary b/c we need to unset gfm padding for 1st level lists */
        padding-inline-start: 0em;
      }

      ul {
        /* necessary b/c we need to re-add some padding for >2nd level lists */
        padding-inline-start: 1em;
      }
    }

    .resume__period {
      font-style: italic;
      font-weight: 450;
      float: right;
    }

    .resume__employment .employment__role,
    .resume__projects,
    .resume__education {
      break-inside: avoid-page;
    }

    .resume__employment,
    .resume__projects {
      dl dt {
        /* necessary b/c gfm has styles we want to unset */
        font-style: normal;
      }
    }

    .resume__projects {
      dl dd {
        padding-left: 0;
      }

      .project__description p {
        margin-bottom: 0.125em;
      }
    }

    .resume__education {
      ol {
        padding-inline-start: 0px;
        list-style: none;
      }
    }

    .markdown-body a {
      text-decoration: underline !important;
    }
  </style>


</html>
